body {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: $main;
}

h1 {
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 56px;
    line-height: 80px;
}

h2 {
    font-family: 'ninja_narutoregular';
}

main {
    width: 100vw;
    height: 100vh;
    background: #221b24;
    #audio-control {
        
        position: fixed;
        height: 40px;
        width: 40px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 9;
        i {
            @include transition (color .15s linear);
            font-size: 34px;
            color: #ffffff9e;
            display: inline-block;
        }
        &:hover {
            i {
                color: #443946;
            }
        }
    }
}

div {
    box-sizing: border-box;
}