@font-face {
      font-family: 'ninja_narutoregular';
      src: url('../fonts/njnaruto-webfont.woff2') format('woff2'), url('../fonts/njnaruto-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}