#game-result-modal {
      -webkit-box-shadow: inset 0px 0px 130px 59px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 130px 59px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 130px 59px rgba(0, 0, 0, 0.75);
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 9;
      background: #221b24c4;
      display: none;
      .game-result-container {
            padding: 30px;
            text-align: center;
            h2 {
                  font-family: 'ninja_narutoregular';
                  font-size: 6rem;
                  -webkit-text-stroke-width: 2px;
                  -webkit-text-stroke-color: red;
                  text-shadow: 0px 0px 120px #000;
                  color: white;
                  letter-spacing: 5px;
            }
            h3 {
                  letter-spacing: 5px;
                  color: white;
                  span {
                        font-family: 'ninja_narutoregular';
                        font-size: 6rem;
                        letter-spacing: 5px;
                        display: block;
                        margin-top: 30px;
                        color: #f5ef80;
                  }
            }
            .next-level-btn {
                  margin-top: 50px;
                  button {
                        cursor: pointer;
                        @include transition(all .2s linear);
                        background: transparent;
                        font-family: 'ninja_narutoregular';
                        font-size: 3rem;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: white;
                        text-shadow: 0px 0px 120px #000;
                        color: red;
                        letter-spacing: 5px;
                        border:none;
                        &:hover {
                              color: white;
                              -webkit-text-stroke-color: red;
                        }
                        &:focus {
                              outline: none;
                        }
                  }
            }
      }
}

body {
      &.level2 {
            #game-result-modal {
                  .game-result-container {
                        h3 {
                              span {
                                    color: #f3b406;
                              }
                        }
                  }
            }
      }
      &.level3 {
            #game-result-modal {
                  .game-result-container {
                        h3 {
                              span {
                                    color: #f307b9;
                              }
                        }
                  }
            }
      }
}
