#level-selection {
      text-align: center;
      min-height: 100%;
      background: url(../img/level-selection-background-op2.jpg);
      background-size: cover;
      background-position: center;
      display: none;
      -webkit-box-shadow: inset 0px 0px 240px 60px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 240px 60px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 240px 60px rgba(0, 0, 0, 0.75); // display: block;
      .container {
            width: 960px;
            margin: 0 auto;
            height: 100%;
            &>h2 {
                  padding: 100px 0 50px;
                  margin: 0;
                  letter-spacing: 5px;
                  color: #72a79e3b;
                  font-size: 3.5rem;
                  span {
                        font-size: .5em;
                  }
            }
            .how-to-play {
                  position: absolute;
                  height: 40px;
                  width: 40px;
                  top: 20px;
                  left: 20px;
                  cursor: pointer;
                  z-index: 9;
                  i {
                        font-size: 40px;
                        color: #ffffff9e;
                        display: inline-block;
                        @include transition (color .15s linear);
                  }
                  &:hover {
                        i {
                              color: #443946;
                        }
                  }
            }
            .how-to-play-content {
                  display: none;
                  position: absolute;
                  top: 20px;
                  left: 20px;
                  width: 320px;
                  height: auto !important;
                  text-align: left;
                  background: #ffffff82;
                  color: #120d16;
                  padding: 0px 20px 0 50px;
                  border-radius: 26px;
                  z-index: 2;
                  p {
                        span {
                              font-weight: 600;
                        }
                  }
            }
            .level-box {
                  width: 100%;
                  position: relative;
                  div {
                        cursor: pointer;
                        @include transition(all .2s linear);
                        height: 220px;
                        border-radius: 8px;
                        border: 4px solid #57e3dc59;
                        background: rgba(255, 255, 255, .3);
                        -webkit-box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, .6);
                        -webkit-box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, .6);
                        box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, .6);
                        &.villain {
                              position: relative;
                              width: 40%;
                              padding: 30px 0 5px 30px;
                              text-align: center;
                              img {
                                    max-width: 100%;
                                    max-height: 100%;
                              }
                        }
                        &.description {
                              margin-left: 20px;
                              width: calc(60% - 20px);
                              h2 {
                                    font-weight: 100;
                                    letter-spacing: 4px;
                                    text-align: center;
                                    font-size: 2.5rem;
                                    margin-bottom: 0;
                                    margin-top: 5%;
                                    &.doom {
                                          color: #f5ef80;
                                    }
                                    &.wakkend {
                                          color: #f3b406;
                                    }
                                    &.frunth {
                                          color: #f307b9;
                                    }
                              }
                              h3 {
                                    color: white;
                                    margin: 10px 0 0;
                                    font-weight: 100;
                                    font-size: 1rem;
                                    letter-spacing: 4px;
                              }
                              p {
                                    color: white;
                                    font-size: .85rem;
                                    padding: 0 30px;
                                    margin-top: 10px;
                              }
                        }
                  }
                  &:hover {
                        div {
                              -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
                              -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
                              box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
                              background: rgba(255, 255, 255, .6);
                        }
                  }
                  &.disabled {
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        cursor: not-allowed!important;
                        pointer-events: none;
                        div {
                              -webkit-box-shadow: inset 0px 0px 180px 35px rgba(0, 0, 0, 0.75);
                              -moz-box-shadow: inset 0px 0px 180px 35px rgba(0, 0, 0, 0.75);
                              box-shadow: inset 0px 0px 180px 35px rgba(0, 0, 0, 0.75);
                              img,
                              h2,
                              h3,
                              p {
                                    opacity: .3;
                              }
                        }
                  }
                  &.defeated {
                        -webkit-filter: none;
                        filter: none;
                        .villain {
                              &:after,
                              &:before {
                                    content: '';
                                    position: absolute;
                                    width: 108%;
                                    height: 10px;
                                    background: red;
                                    transform: rotate(28.5deg);
                                    transform-origin: 0 0;
                                    border-radius: 5px;
                                    left: 3%;
                                    top: 5px;
                              }
                              &:before {
                                    transform-origin: 100% 0;
                                    transform: rotate(-28.5deg);
                                    left: initial;
                                    right: 3%;
                              }
                        }
                        div {
                              img,
                              h2,
                              p {
                                    opacity: 1;
                              }
                        }
                  }
            }
      }
}